Source: gkeyring
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: gkeyring
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	python3,
	python3-keyring
Description: gkeyring
 A simple tool to store and get passwords in the GNOME keyring
